.equipe{
	float:right;
	padding:10px;
	background-color: #F3F3F3;
	border-radius: 5px;
	margin-left: 10px;
	width:270px;
}

.membro{
	border-top: 1px solid white;
	padding:10px;
}

.membro > *{
	display: inline;	
}

.membro img{
	width:70px;
	height: 70px;	
	border-radius: 5px;	
	float: left;
	margin-right:10px;
}