---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: " %-d de %b de %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b946e940897914" async="async"></script>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.comments == true %}
	  <div class="post-comments">{% include comments.html %}</div>
	{% endif %}
</div>
